* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

body {
    padding: 64px 80px;
    min-height: 100vh;
    background-image: linear-gradient(to bottom, transparent, #0B1D26), url(/images/BG\ Hero.svg), url(/images/VG.svg), url(/images/MG.svg);
    background-position: bottom, top, center, center;
    background-size: cover;
    background-repeat: no-repeat;
}

nav {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 200px;
}

nav a {
    text-decoration: none;
    color: #FFF;
    font-weight: 700;
    font-size: 18px;
}

.logo p {
    color: #FFF;
    font-size: 32px;
}

.nav-links {
    display: flex;
    justify-content: space-between;
    width: 282px;
}

.account {
    display: flex;
    align-items: center;
}

.account img {
    width: 24px;
    margin-right: 10px;
    filter: invert(1);
}

.account p {
    color: #FFF;
    font-weight: 700;
    font-size: 17px;
}

header {
    display: flex;
    justify-content: space-between;
}

.left-hdr {
    display: flex;
    align-items:flex-end;
    width: 350px;
    transform: rotate(90deg);
} 

.left-hdr p {
    font-weight: 700;
    font-size: 18px;
    color: #FFF;
    margin-right: 24px;
}

.left-hdr img {
    width: 24px;
}

.instagram-logo {
    margin-right: 24px;
}

.subtitle {
    display: flex;
    align-items: center;
    margin-bottom: 32px;
}

.middle-hdr h1 {
    font-weight: 600;
    font-size: 60px;
    color: #FFF;
    margin-bottom: 32px;
}

.subtitle p {
    font-weight: 800;
    font-size: 18px;
    letter-spacing: 6px;
    color: #FBD784;
    text-transform: uppercase;
}

.string {
    width: 72px;
    height: 2px;
    background-color: #FBD784;
    margin-right: 32px;
}

.scroll-down {
    display: flex;
}

.scroll-down p {
    font-weight: 700;
    font-size: 18px;
    color: #FFF;
    margin-right: 18px;
}

.right-hdr {
    display: flex;
    align-items: center;
    position: absolute;
    left: 88%;
}

.page-number p {
    font-weight: 700;
    font-size: 18px;
    text-align: end;
    color: #FFF;
    margin-right: 32px;
}

.scrollbar {
    height: 160px;
    width: 3px;
}

.page {
    width: 25%;
}

.page-start {
    background-color: #FFF;
}

.page-one,
.page-two,
.page-three  {
    background-color: #FFF;
    opacity: 0.5;
}


